<a href="https://colab.research.google.com/github/Vikram-Kumar-Sahu/Google-Collab/blob/main/lab1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("vikram")

vikram

In [4]:
a = 5
print (a, "is of type",type(a))

5 is of type <class 'int'>

In [5]:
a = 2.0
print (a, "is of type",type(a))

2.0 is of type <class 'float'>

In [6]:
a = 1+2j
print (a, "is of type",type(a))

(1+2j) is of type <class 'complex'>

In [7]:
num1=123
num2=1.23
new=num1+num2
print("datatype of num1:",type(num1))
print("datatype of num2:",type(num2))
print("datatype of new:",type(new))

datatype of num1: <class 'int'>
datatype of num2: <class 'float'>
datatype of new: <class 'float'>

In [8]:
num1=123
num2="456"
print(num1+num2)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [10]:
a,b,c=5,3.2,"Hello"

In [11]:
print(a)
print(b)
print(c)

5
3.2
Hello

In [15]:
S = "Michael Jackson "
print(S*3)

Michael Jackson Michael Jackson Michael Jackson

In [16]:
print("Michael \\ Jackson")

Michael \ Jackson

In [17]:
print("Michael \ Jackson")

Michael \ Jackson

<>:1: SyntaxWarning: invalid escape sequence '\ '
<>:1: SyntaxWarning: invalid escape sequence '\ '
/tmp/ipython-input-4241414709.py:1: SyntaxWarning: invalid escape sequence '\ '
  print("Michael \ Jackson")

In [18]:
A="THis is a string"
A.find("is")

2

In [20]:
tuple1=('disco',12,4.5)
tupel2=tuple1+("hard rock",10)
print (tupel2)

('disco', 12, 4.5, 'hard rock', 10)

In [21]:
print(tupel2[0:3])

('disco', 12, 4.5)

In [23]:
len(tupel2)

5

In [24]:
a="Vikram Kumar Sahu"
print(a.split())

['Vikram', 'Kumar', 'Sahu']

In [26]:
A=["hard rock",10,4.5]
B=A
A[0]="banana"
print("list A: ",A,"\nlist B: ",B)

list A:  ['banana', 10, 4.5]
list B:  ['banana', 10, 4.5]

In [33]:
C={'Thriller','Back in Black','AC/DC'}
D={'Dark side of Moon','Back in Black','AC?DC',1982}
E=C&D
print (E)

{'Back in Black'}

In [34]:
E=C.union(D)
print(E)

{'Thriller', 'Back in Black', 'AC?DC', 'Dark side of Moon', 1982, 'AC/DC'}